body {
    background-color: black;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px dashed gray;
}

.logo--hover:hover {
}

.top-bar__logo__s {
    color: #ff3493;
    /* background-color: black; */
    -webkit-filter: grayscale(1) drop-shadow(-10px 4px #ff3493);
    font-size: 70px;
    /* size: 400px; */
    box-shadow: 0 0 0 pink;
    display: inline-block;
    z-index: 1;
}

.top-bar__logo__k {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 90px;
    color: aqua;
    display: inline-block;
    position: absolute;
    left: 0.6em;
    z-index: -1;
    top: -0.15em;
}

.top-bar__logo__8 {
    font-family: 'Stardos Stencil', cursive;
    font-size: 90px;
    font-weight: 700;
    color: aqua;
    display: inline-block;
    position: absolute;
    left: 1.2em;
    z-index: -1;
    top: -0.14em;
}

.top-bar__logo__ratz {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 90px;
    color: aqua;
    display: inline-block;
    position: absolute;
    left: 1.75em;
    z-index: -1;
    top: -0.15em;
    letter-spacing: -15px;
}

.underline--pos {
    letter-spacing: normal;
    margin-left: -23px;
    position: absolute;
    left: 1em;
    z-index: -1;
    top: 0.3em;
}

.top-bar__btns {
    display: none;
    position: absolute;
    top: 8.5em;
    transform: translateY(-50%);
    right: 8px;
}

.top-bar__btns * {
    width: 100px;
    height: 100px;
}

.cart {
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    color: white;
    width: 90%;
    margin: 10% 5% 0 5%;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;

}

.text--left {
    text-align: left;

}

.cart__header__title {
    border-bottom: 1px solid #ff3493;
}

.cart__info__details {
    border-bottom: 1px solid gray;

}

.cart__total__title {
    border-top: 1px solid #ff3493;
    text-align: right;
    
}


.cart__total__total {
    border-top: 1px solid #ff3493;
}

@media only screen and (min-width: 600px) {
    .top-bar__btns {
        display: inline-block;
        /* justify-content: space-evenly; */
        /* margin-right: none; */
    }
    
    .top-bar__btns * {
        width: 7vw;
        height: 7vw;
        
    }
}

@media only screen and (min-width: 780px) {
    .top-bar__btns {
        display: inline-block;
        /* justify-content: space-evenly; */
        /* margin-right: none; */
    }
    
    .top-bar__btns * {
        width: 10vw;
        height: 10vw;
        margin-left: 0.4em;
    }
}

@media only screen and (min-width: 900px) {
    .top-bar__btns {
        display: inline-block;
        /* justify-content: space-evenly; */
        /* margin-right: none; */
    }

    .top-bar__btns * {
        width: 100px;
        height: 100px;
        margin-left: 0.5em;
    }
}